{% if site.profiles.dribbble %}<a href="https://dribbble.com/{{ site.profiles.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if site.profiles.email %}<a href="mailto:{{ site.profiles.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.profiles.facebook %}<a href="https://www.facebook.com/{{ site.profiles.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.profiles.flickr %}<a href="https://www.flickr.com/{{ site.profiles.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.profiles.github %}<a href="https://github.com/{{ site.profiles.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.profiles.instagram %}<a href="https://instagram.com/{{ site.profiles.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.profiles.linkedin %}<a href="https://www.linkedin.com/in/{{ site.profiles.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.profiles.pinterest %}<a href="https://www.pinterest.com/{{ site.profiles.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.profiles.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.profiles.twitter %}<a href="https://www.twitter.com/{{ site.profiles.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.profiles.stackoverflow %}<a href="http://stackoverflow.com/{{ site.profiles.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if site.profiles.youtube %}<a href="https://youtube.com/{{ site.profiles.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.profiles.googleplus %}<a href="https://plus.google.com/{{ site.profiles.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}