---
layout: default
---
	
{% include galleryinclude.html %}

<!-- <p>default header for all gallery pages</p> -->

{% for album in site.data.albums %}
  {% if album.id == page.albumid %}
    <h1>{{ album.description }}</h1>
    </br>
    <ol>
    {% for image in album.images %}
      <li>
        {{ image.text }}<br>
        <a href="{{ album.imagefolder }}/{{ image.name }}" data-lightbox="{{ album.id }}" title="{{ image.text }}">
          <img src="{{ album.thumbfolder }}/{{ image.thumb }}">
        </a>
      </li>
    {% endfor %}
    </ol>
  {% endif %}
{% endfor %}

<!-- <p>default footer for all gallery pages</p> -->