---
layout: unwrapped
---
	
{% include galleryinclude.html %}
<h1>{{ album.description }}</h1>
<div class="photos">
{% for album in site.data.albums %}
  {% if album.id == page.albumid %}
    {% for image in album.images %}
    <div class="photo">
      <a href="{{ site.asseturl }}{{ album.imagefolder }}{{ image.name }}" data-lightbox="{{ album.id }}" title="{{ image.text }}">
      <img src="{{ site.asseturl }}{{ album.thumbfolder }}{{ image.thumb }}">
      </a>
      <div class="overlay"><span class="title">{{ image.text }}</span></div>
    </div>
    {% endfor %}
  {% endif %}
{% endfor %}
      <!-- <a href="{{ album.imagefolder }}{{ image.name }}" data-lightbox="{{ album.id }}" title="{{ image.text }}">
        <img src="{{ album.thumbfolder }}{{ image.thumb }}">
      </a>   -->
</div>
<!-- <p>default footer for all gallery pages</p> -->
<!-- Scripts -->
<script>
var gallery = $('.photos').gallerify({
  margin:2,
  mode:'flickr',
  lastRow:'adjust'
}); 
</script>
